.ArrowSlim {
  display: block;
  height: 120px;
  margin: 0 auto;
}

.st0 {
  fill:none;
  stroke:#2290A0;
  stroke-width:4;
  stroke-linecap:round;
  stroke-miterlimit:10;
}

.st1 {
  fill:none;
  stroke:#2290A0;
  stroke-width:4;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}